<!DOCTYPE html>
<html lang="eS">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <title>Siempre en Casa - Checkout</title>
    
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144026747-1"></script>
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'GTM-P367495':true});</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-144026747-1', 'auto');
      ga('require', 'GTM-P367495');
      ga('send', 'pageview');
    </script> -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TCP9WP4');</script>
    <!-- End Google Tag Manager -->
    <!-- Amplitude Script -->
    <script type="text/javascript">
      (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
        ;r.type="text/javascript"
        ;r.integrity="sha384-vYYnQ3LPdp/RkQjoKBTGSq0X5F73gXU3G2QopHaIfna0Ct1JRWzwrmEz115NzOta"
        ;r.crossOrigin="anonymous";r.async=true
        ;r.src="https://cdn.amplitude.com/libs/amplitude-5.8.0-min.gz.js"
        ;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
        console.log("[Amplitude] Error: could not load SDK")}}
        ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
        ;function s(e,t){e.prototype[t]=function(){
        this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
        var o=function(){this._q=[];return this}
        ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
        ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
        ;return this}
        ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
        ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
        ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId", "enableTracking", "setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
        ;function v(e){function t(t){e[t]=function(){
        e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
        for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
        e=(!e||e.length===0?"$default_instance":e).toLowerCase()
        ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
        ;e.amplitude=n})(window,document);
        amplitude.getInstance().init("8c33c616132fae1b7fd6f9d89130af38", null, {
          // optional configuration options
          saveEvents: true,
          includeUtm: true,
          includeReferrer: true,
      });
    </script>
    <!-- End Amplitude Script -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TCP9WP4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Facebook Pixel Code
    <script>  
    !function(f,b,e,v,n,t,s)  
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?  
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};  
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';  
    n.queue=[];t=b.createElement(e);t.async=!0;  
    t.src=v;s=b.getElementsByTagName(e)[0];  
    s.parentNode.insertBefore(t,s)}(window, document,'script',  
    ' https://connect.facebook.net/en_US/fbevents.js');  
    fbq('init', '1219956181725150');  
    fbq('track', 'PageView');  
    </script>  
    <noscript><img height="1" width="1" style="display:none"  
    src=" https://www.facebook.com/tr?id=1219956181725150&ev=PageView&noscript=1"  
    /></noscript>  
    End Facebook Pixel Code -->
    <noscript>
      <strong>Lamentablemente necesitamos que tengas JS activado para que puedas terminar la compra.</strong>
    </noscript>
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script src="https://sdk.rebill.to/rebill.min.js"></script>
    <!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCy8IXl8IIAxcu73mJGcKT2YlTMruuwqTk&libraries=places&language=es-AU&callback=initAutocomplete"></script>-->
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
