$primary : #00ADEF;
$secondary : #FFF200;
$container-max-widths-xl : 1400px;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import './global.scss';