body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background: #000;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  padding-left: 0.75rem;
}
.form-label-group .select-label {
  font-size: 12px;
  top: -4px;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  display: block;
  margin-bottom: 0;
  line-height: 1.5;
  color: #949494;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  padding-left: 0.75rem;
  padding-top: 0.35rem;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group select {
  position: relative;
  margin-top: 0.28em;
  background: transparent;
  padding-top: 1.1rem;
}
.form-label-group > .select-label {
  top: -0.2em;
  font-size: 0.9em;
}
.form-label-group select,
.form-label-group input {
  height: 3em;
}
.form-label-group input:not(:placeholder-shown) {
  padding-bottom: calc(var(--input-padding-y) / 3);
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  height: 3em;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  margin-top: 0px;
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.btn-secondary {
  min-width: 150px;
}
.btn-primary.disabled,
.btn-primary:disabled {
  cursor: not-allowed;
}
.header {
  margin-bottom: -12px;
  background-color: white;
  position: relative;
  z-index: 2;
}
.orderDetail {
  background-image: url("../images/background.svg");
}
@media (max-width: 425px) {
  .orderDetail {
    background-position: center;
    height: auto !important;
  }
}
.orderDetail .container {
  position: relative;
  left: -35px;
}
@media (max-width: 425px) {
  .orderDetail .container {
    left: 0px;
  }
}
