body{
    font-family: 'Lato',Arial,Helvetica,sans-serif;
}



.form-label-group {

    position: relative;
    margin-bottom: 1rem;

    input, > label {
        padding: var(--input-padding-y) var(--input-padding-x);
        padding-left: 0.75rem;
    }

    .select-label {
        font-size: 12px;
        top: -4px;
    }

    > label {
        position: absolute;
        top: 0;
        display: block;
        margin-bottom: 0;
        line-height: 1.5;
        color: #949494;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
    
    }

    input::placeholder {
        color: transparent;
    }

    select{
        position: relative;
        margin-top: .28em;
        background: transparent;
        padding-top: 1.1rem;

    }

    > .select-label {
        top: -0.2em;
        font-size: .9em;
    }

    select, input {
        height: 3em;
    }
    
    input:not(:placeholder-shown) {
        padding-bottom: calc(var(--input-padding-y) / 3);
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        height: 3em;
    }

    input:not(:placeholder-shown) ~ label {
        margin-top: 0px;
        padding-top: calc(var(--input-padding-y) / 3 );
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }
}

.btn-secondary{
    min-width: 150px;
}

.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
}

.header {
    margin-bottom: -12px;
    background-color: white;
    position: relative;
    z-index: 2;
}

#btnOpenDetail{
    border-top: $secondary 10px solid;
}
.orderDetail{

    background-image: url('../images/background.svg');

    @media (max-width: 425px) {
        background-position: center;
        height: auto !important;
    }

    .container{
        position: relative;
        left: -35px;
        @media (max-width: 425px) {
            left: 0px;
        }
    }

    .item-cart-container{
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0px 15px;
    }

}

/* Helper class */
.w-60{
    width: 60px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.95em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.95em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

/* Responsive */
@media( min-width: 720px ){
    .h-md-100 {
        height: 100%;
    }
}
