<template>
  <div class="shipping h-100">
    <b-row class="h-100">
      <b-col cols='12' md="6" class="order-2 order-md-1 px-md-5">
        <OrderInfo class="pt-4 px-md-5" />
        <div class="px-md-5">
          <hr class="bg-secondary px-md-5">
        </div>
        <Shipping class="pt-2 px-md-5"/>
      </b-col>
      <b-col id="orderDetailContainer" cols='12' md="6" class="order-1 order-md-2 orderDetail h-md-100 d-none d-md-block">
        <OrderDetail class="pt-2 pt-md-5 h-md-100"/>
      </b-col>
    </b-row>
   </div>
</template>

<script>

import OrderInfo from '@/components/OrderInfo';
import Shipping from '@/components/Shipping';
import OrderDetail from '@/components/OrderDetail';

export default {
    name: 'shipping',
    components: {
        OrderInfo,
        Shipping,
        OrderDetail
    }
}
</script>