<template>
  <div class="user h-md-100">
    <b-row class="h-md-100">
      <b-col cols='12' md="6" class="order-2 order-md-1 px-md-5">
        <User class="pt-5 px-md-5 h-md-100" />
      </b-col>
      <b-col id="orderDetailContainer" cols='12' md="6" class="order-1 order-md-2 orderDetail h-md-100 d-none d-md-block">
        <OrderDetail class="pt-2 pt-md-5 h-md-100"/>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import User from '@/components/User.vue'
import OrderDetail from '@/components/OrderDetail.vue'


export default {
  name: 'user',
  components: {
    User,
    OrderDetail
  },
  created: function (){
    
      
    
  }
}
</script>
