<template>
    <div>
        <b-form cols="12" md="4" class="col-md-8 pl-0" inline v-on:submit.prevent="getDiscount">
            <b-form-input
                id="code"
                class="col-8 mr-sm-2 mb-sm-0"
                placeholder="Código de Descuento"
                v-model="discount.code"
            >
            </b-form-input>
            <b-button type="submit" variant="primary" class="col-3 col-md-2 ml-2">
                <b-spinner small v-show="loading"></b-spinner>
                <p class="m-0 text-secondary" v-show="!loading">Usar</p>
            </b-button>
        </b-form>
        <div class="mt-2 text-left" v-for="error in this.errors" :key="error.id">
            <b-alert
                :show="dismissCountDown"
                dismissible
                fade
                variant="warning"
                @dismiss-count-down="countDownChanged"
                >
                {{ error }}
            </b-alert>    
        </div>
        <div class="text-left mt-3">
            <b-button v-show="this.discount.title !== null" 
                @click="deleteDiscount()"
                variant="light" 
                v-b-tooltip.hover v-b-tooltip.right
                title=" ¿ Eliminar Descuento ? "
                >
                {{ this.discount.title }}  x
            </b-button>
        </div>
    </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapFields } from 'vuex-map-fields';
import { ApiURL } from '../helper'

export default {
    name: 'Discount',
    data: function(){
        return {
            loading: false,
            errors: [],
            dismissSecs: 5,
            dismissCountDown: 0
        }
    },
    computed: {
        ...mapState([
            'customer',
            'order',
            'line_items',
            'shipping'
        ]),
        ...mapFields([
            'discount',
            'order',
            'line_items',
            'customer',
            'shipping'
        ])
    },
    created: function () {
        this.showValue();
        
    },
    methods: {
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
        showAlert() {
            this.dismissCountDown = this.dismissSecs
        },
        getDiscount: async function(){
            
            this.loading = true;
            
            const data = {
                code: this.discount.code,
                total_price: this.order.total_price,
                line_items: this.line_items,
                customer: this.customer,
            }

            const discount = await fetch( ApiURL + 'discount/code' , {
                                method: 'POST',
                                body: JSON.stringify( data ),
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
                                }
                            })
            
            const response = await discount.json()

            this.loading = false;

            if ( response.errors !== undefined ){
                return this.showDiscountAlert( response );
            }

            this.$store.commit( 'SET_DISCOUNT' , response )

            if( this.order.id !== null ){

                this.createDiscount();
                
            }
            
            this.showValue();
            
        },
        createDiscount: async function(){

            const data = {
                order_id: this.order.id,
                price_rule_id :this.discount.price_rule_id,
                discount_code_id : this.discount.discount_code_id,
                type : this.discount.type,
                value : `${this.discount.value}`,
                title : this.discount.title,
                target : this.discount.target
            }
            
            const discount = await fetch( ApiURL + 'discount' , {
                                method: 'POST',
                                body: JSON.stringify( data ),
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
                                }
                            })
            
            const response = await discount.json()

            this.$store.commit( 'SET_DISCOUNT_ID' , response.id )

            response.show_value = 0;
            
            localStorage.setItem( 'discount' , JSON.stringify( response ) )

            return true;

        },
        deleteDiscount: async function(){

            const data = {
                id :this.discount.id,
            }
            
            const discount = await fetch( ApiURL + 'discount/delete-code' , {
                                method: 'POST',
                                body: JSON.stringify( data ),
                                headers: {
                                    'Content-Type': 'application/json',
                                    'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
                                }
                            })

            const response = await discount.json()
            
            if ( response === 1 ){
                
                this.$store.commit( 'RESET_DISCOUNT' , {} )

                localStorage.removeItem( 'discount' )
            }
            
            return true;

        },
        showDiscountAlert: function( response ){
        
            const errors = response.errors;
            this.errors = [];
            
            if( errors.checkOncePrerequisite !== true ) this.errors.push( errors.checkOncePrerequisite )
            if( errors.checkOncePerCustomer  !== true ) this.errors.push( errors.checkOncePerCustomer  )
            
            this.showAlert()
            
            return true;
        },
        showValue: function(){

            var value = parseFloat(this.discount.value) * -1;
            var discountValue = 0;
            
            if ( this.discount.target === 'SHIPPING_LINE' ){
                
                if( this.shipping.id !== null  ){

                    discountValue = ( this.shipping.price * value ) / 100;

                    this.$store.commit( 'SET_DISCOUNT_SHOW_VALUE' , discountValue );
                }

            } else {

                if ( this.discount.type === 'MoneyV2' ){

                    discountValue = value * 100;

                    this.$store.commit( 'SET_DISCOUNT_SHOW_VALUE' , discountValue );

                }

                
                if ( this.discount.type === 'PricingPercentageValue' ){

                    let subtotal = 0;
                    
                    this.line_items.map( item => { subtotal = parseFloat(subtotal) + ( parseFloat( item.price ) * item.quantity ) })
                    
                    discountValue = ( subtotal * value ) / 100;
                    
                    this.$store.commit( 'SET_DISCOUNT_SHOW_VALUE' , discountValue );

                }

            }


            let localStorageDiscount =  JSON.parse( localStorage.getItem('discount') );
            
            if ( localStorageDiscount !== null ) {
                
                localStorageDiscount.show_value = discountValue;
            
                localStorage.setItem( 'discount' , JSON.stringify ( localStorageDiscount ) )
            }
            

            return true;
        
        }
    }
    
}
</script>