<template name="component-name">
    <div>
        <b-row class="step" :class="{ 'desactive' : !active }">
            <div class="bg-secondary text-white rounded-circle number d-flex justify-content-center align-items-center">
                <span class="align-middle font-weight-bold">{{ step }}</span>
            </div>
            <div class="rounded-pill border border-primary text text-center ml-1 pl-3 pr-2 d-flex justify-content-between align-items-center">
                <span class="text-primary">{{ text  }}</span>
                <img :src="require('@/assets/images/'+icon+'')" />
            </div>
        </b-row>
    </div>
</template>

<script>

    import { mapState } from 'vuex';

    export default {
        name: 'ItemHeader',
        data: function (){
            return {
                currentRoute: '',
            }
        },
        props: [ 'step' , 'text' , 'icon' , 'pathName' ],
        computed: {
            ...mapState([
                'order',
            ]),
            active: function (){
                return this.currentRoute == this.pathName;
            }
        },
        watch:{
            $route (to, from){
                this.currentRoute = this.$router.currentRoute.name
            }
        }
    };


</script>

<style scoped lang="scss">

    $height : 30px;

    .step{
       
        .number{
            width: $height;
            height: $height;
        }

        .text {

            height: $height;
            width: 150px;

            img {
                max-width: $height;
            }
        }

        a {
            font-weight: bold;
            color: #2c3e50;
            &.router-link-exact-active {
                color: #42b983;
            }
        }

        &.desactive{
            .number{
                background: #ccc !important;
            }
            .text{
                border-color: #ccc !important;
                span{
                    color: #ccc !important;
                }
                image{
                    filter: grayscale(100%);
                }
            }
            @media (max-width: 425px) {
                display: none;
            }
        }

    }


</style>