<template>
    <div>
        <b-container class="bg-white p-4 rounded w-100 w-md-75 ml-0 shadow">
            <div class="item-cart-container">
                <b-row v-for="item in line_items" :key="item.id"
                    class="align-items-center mb-2"
                >
                    <b-col class="col" md="2">
                        <b-img thumbnail fluid :src="item.image" :alt="item.title" class="w-60"></b-img>
                    </b-col>
                    <b-col class="col pl-0 text-left text-primary" md="7">
                        {{ item.title }}
                    </b-col>
                    <b-col class="col text-right font-weight-bold" md="3">
                        {{ item.price | currencyARS}}
                    </b-col>
                </b-row>
            </div>
            <hr class='my-3'>
            <Discount></Discount>
            <hr class='my-3'>
            <b-row class="align-items-center">
                <b-col cols="6" md="6" class="text-left text-primary">
                    <p class="my-1">Subtotal:</p>
                </b-col>
                <b-col cols="6" md="6" class="text-right font-weight-bold">
                    <p class="my-1">{{ subTotalLineItems | currencyARS  }}</p>
                </b-col>
                <b-col cols="6" md="6" class="text-left text-primary">
                    <p class="my-1">Envío:</p>
                </b-col>
                <b-col cols="6" md="6" class="text-right font-weight-bold">
                    <p class="my-1" v-show="shipping.price != 0">{{ shipping.price | currencyARS }}</p>
                    <p class="my-1" v-show="shipping.price == 0">Envío Gratis</p>
                </b-col>
                <b-col v-show="discount.id !== null" cols="6" md="6" class="text-left text-primary">
                    <p class="my-1">Descuento:</p>
                </b-col>
                <b-col v-show="discount.id !== null" cols="6" md="6" class="text-right font-weight-bold">
                    <p class="my-1" v-show="discount.target == 'LINE_ITEM' " >{{ discount.show_value | currencyARS }}</p>
                    <p class="my-1" v-show="discount.target == 'SHIPPING_LINE' " >Envío Gratis</p>
                </b-col>
            </b-row>
            <hr class='my-3 bg-secondary'>
            <b-row class="align-items-center">
                <b-col cols="6" md="6" class="text-left text-primary">
                    <p class="my-0">Total:</p>
                    <p class="my-0 text-muted small">Incluye {{ tax | currencyARS }} de impuestos</p>
                </b-col>
                <b-col cols="6" md="6" class="text-right font-weight-bold">
                    <p>{{ subTotalLineItems + shipping.price - discount.show_value  | currencyARS }}</p>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" md="6" class="text-left">
                    <p class="text-danger">¡Felicitaciones, cada mes ahorrás {{ totalSave | currencyARS }}!</p>
                </b-col>
                <b-col cols="12" md="6" class="text-right">
                    <p class="text-primary">¡Estás activando un plan de: {{ this.suscription.title }}!</p>
                </b-col>
            </b-row>
        </b-container>
        <staticInfo class="d-none d-md-block"></staticInfo>
     </div>
</template>

<script>

import { URLToArray , lineItemsFromURL } from '../helper';
import { mapFields } from 'vuex-map-fields';
import Discount from '@/components/Discount';
import StaticInfo from '@/components/StaticInfo';

export default {
    name: 'OrderDetail',

    computed: {

        ...mapFields([
            'line_items',
            'order',
            'shipping',
            'customer',
            'discount',
            'suscription'
        ]),
        subTotalLineItems: function(){
            let subtotal = 0;
            this.line_items.map( item => { subtotal = parseFloat(subtotal) + ( parseFloat( item.price ) * item.quantity ) })
            return subtotal;
        },
        totalSave: function(){
            let originalLinePrice = 0;
            this.line_items.map( item => { originalLinePrice = parseFloat(originalLinePrice) + ( parseFloat( item.compare_at_price ) * item.quantity ) })
            return originalLinePrice - this.subTotalLineItems;
        },
        tax: function(){
            let subtotal = this.subTotalLineItems;
            return subtotal - ( subtotal / 1.21 );
        }

    },

    components: {
        Discount,
        StaticInfo
    },

    created: function () {
        
        if ( localStorage.getItem( 'cart' ) === null && localStorage.getItem('order') === null ){
            // window.location.href = 'https://siempreencasa.com.ar/cart'
            window.location.href = '/cart'
        }

        let localStorageOrder = localStorage.getItem('order');
        let localStorageShipping = localStorage.getItem('shipping');
        let localStorageDiscount = localStorage.getItem('discount');
        let localStorageSuscription = localStorage.getItem('suscription');
        var windowSearchParams = localStorage.getItem( 'cart' )

        if( process.env.NODE_ENV == 'production' && windowSearchParams !== null ) {
             windowSearchParams = localStorage.getItem( 'cart' ).slice(1)
        }
        
        if ( windowSearchParams === '' && localStorageOrder === null ){
            // window.location.href = 'https://siempreencasa.com.ar/'
            window.location.href = '/'
        }

        if ( windowSearchParams == null && localStorageOrder !== null ){
            localStorageOrder = JSON.parse(localStorageOrder);
            this.order.id = localStorageOrder.order.id
            this.order.token = localStorageOrder.order.token
            this.order.total_price = localStorageOrder.order.total_price
            this.order.attributes.lat = JSON.parse(localStorageOrder.order.attributes).lat
            this.order.attributes.lng = JSON.parse(localStorageOrder.order.attributes).lng
            this.suscription.id = localStorageSuscription.id
            this.suscription.title = localStorageSuscription.title
            this.line_items = localStorageOrder.line_items 
            this.customer = localStorageOrder.customer[0];

        }

        if ( windowSearchParams == null && localStorageShipping !== null ){
            this.shipping = JSON.parse( localStorageShipping );
        }

        if ( windowSearchParams == null && localStorageDiscount !== null ){
            this.discount = JSON.parse( localStorageDiscount );
        }

        if ( windowSearchParams == null && localStorageSuscription !== null ){
            this.suscription = JSON.parse( localStorageSuscription );
        }

        if ( windowSearchParams !== null && localStorageOrder !== null ){
            
            localStorage.removeItem('order')
            localStorage.removeItem('shipping')
            localStorage.removeItem('discount')
            localStorage.removeItem('suscription')

            const cart =  URLToArray( windowSearchParams );
            
            this.order.token = cart.token
            this.suscription.id = cart.suscription_id
            this.suscription.title = cart.suscription_title
            this.customer.email =  cart.email

            let suscription = {
                id : parseInt(cart.suscription_id),
                title : cart.suscription_title
            }
            localStorage.setItem( 'suscription' , JSON.stringify(suscription) )

            this.line_items = lineItemsFromURL( cart.items )
        }

        if ( windowSearchParams !== null && localStorageOrder === null ){
            
            const cart =  URLToArray( windowSearchParams );
            
            this.order.token = cart.token
            this.suscription.id = cart.suscription_id
            this.suscription.title = cart.suscription_title
            this.customer.email =  cart.email

            this.order.attributes.lat = ( localStorage.getItem( 'lat' ) !== null ) ? localStorage.getItem( 'lat' ) : ''
            this.order.attributes.lng = ( localStorage.getItem( 'lng' ) !== null ) ? localStorage.getItem( 'lng' ) : ''
            
            this.line_items = lineItemsFromURL( cart.items )

            let suscription = {
                id : parseInt(cart.suscription_id),
                title : cart.suscription_title
            }
            localStorage.setItem( 'suscription' , JSON.stringify(suscription) )
        }
        

    }
}
</script>

