<template>
    <div>
        <p class="text-left text-primary">Información de Envíos</p>
        <b-container class="border rounded">
            <b-row class="pl-0 p-3">
                <b-col cols="6" class="order-1 col-md-2 text-muted pl-0 text-left text-black">
                    Contacto:
                </b-col>
                <b-col cols="12" class="order-3 order-md-2 col-md-7 pl-0 text-left text-black">
                    {{ customer.email }}
                </b-col>    
                <b-col cols="6" class="order-2 order-md-3 col-md-3 text-right pr-0">
                    <router-link to="/">Cambiar</router-link>
                </b-col>    
            </b-row>
            <hr class="m-0">
            <b-row class="pl-0 p-3">           
                <b-col cols="6" class="order-1 col-md-2 text-muted pl-0 text-left">
                    Enviar a:
                </b-col>
                <b-col cols="12" class="order-3 order-md-2 col-md-7 pl-0 text-left">
                    {{ customer.address }} , {{ customer.city }} , {{ customer.zip_code }} , {{ customer.province }}  
                </b-col>
                <b-col cols="6" class="order-2 order-md-3 col-md-3 text-right pr-0">
                    <router-link to="/">Cambiar</router-link>
                </b-col>
            </b-row>
            <hr class="m-0">
            <b-row class="pl-0 p-3" v-show="(this.$router.currentRoute.name == 'payment')">           
                <b-col cols="6" class="order-1 col-md-2 text-muted pl-0 text-left">
                    Método:
                </b-col>
                <b-col cols="12" class="order-3 order-md-2 col-md-7 pl-0 text-left">
                    {{ shipping.name }}, {{ shipping.price  | currencyARS }}
                </b-col>
                <b-col  cols="6" class="order-2 order-md-3 col-md-3 text-right pr-0">
                    <router-link to="/shipping">Cambiar</router-link>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>

import { mapFields } from 'vuex-map-fields';


export default {
    name: 'OrderInfo',
    computed: {
        ...mapFields([
            'customer',
            'order',
            'shipping',
            'shipping_zones'
        ]),
    }
}
</script>


