<template>
    <div>
        <p class="text-left text-primary">Plan</p>
        <p class="text-left">Seleccionaste el siguiente plan.</p>
        <b-row class="my-1">
            <b-col cols="12" md="12">
                <div class="col form-label-group p-0">
                    <b-form-select id="plans" v-model="suscription.id" :options="plans"></b-form-select>
                    <label class="select-label" for="plans">¿ Queres cambiar el plan ?</label>
                </div>
                <small>¡No te preocupes, podes cambiar tu plan las veces que quieras! 😉</small>
            </b-col>
            
        </b-row>
        <hr class="bg-secondary px-md-5 my-4">
        <p class="text-left text-primary">Pago</p>
        <p class="text-left bg-primary p-2 text-white">Únicamente con tarjetas de crédito</p>
        <b-form  id="cardForm" v-on:submit.prevent="createToken">
            <b-row v-show="!isRebillActive" class="p-0">
                <b-col cols="12" md="6">
                    <select id="docType" class="d-none" data-checkout="docType">
                        <option value="DNI">DNI</option>
                        <option value="CI">Cédula</option>
                        <option value="LC">L.C.</option>
                        <option value="LE">L.E.</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <input type="hidden" id="docNumber" v-model="customer.dni" data-checkout="docNumber">
                    <div class="form-row my-1">
                        <div class="col-12 form-label-group">
                            <b-form-input label="Número de Tarjeta" type="text" class="form-control" id="cardNumber" data-checkout="cardNumber" placeholder="Numero de Tarjeta. Ejemplo: 4509 9535 6623 3704" onselectstart="return false" oncut="return false" ondrag="return false" ondrop="return false" autocomplete="off" minlength="16" maxlegth="16" required=""></b-form-input>
                            <label for="cardNumber">Número de Tarjeta</label>
                            <div id="cardNumber-helper-block" class="help-block"></div>
                        </div>
                        <div class="col-12 form-label-group">
                            <b-form-input type="text" class="form-control" id="cardholderName" data-checkout="cardholderName" placeholder="Nombre y Apellido tal cual aparece en la tarjeta" required=""></b-form-input>
                            <label for="cardholderName">Titular de la tarjeta</label>
                            <div id="cardholderName-helper-block" class="help-block"></div>
                        </div>
                    </div>
                    <div class="form-row my-1">
                        <div class="col-4 form-label-group">
                            <input type="text" class="form-control" id="cardExpirationMonth" data-checkout="cardExpirationMonth" placeholder="Mes Vencimiento" onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false" autocomplete="off" minlength="2" maxlength="2" size="2" min="1" max="12" required="">
                            <label for="cardExpirationMonth">Mes VTo</label>
                            <div id="cardExpirationMonth-helper-block" class="help-block"></div>
                        </div>
                        <div class="col-4 form-label-group">
                            <input type="text" class="form-control" id="cardExpirationYear" data-checkout="cardExpirationYear" placeholder="Año Vencimiento, ejemplo: 19" onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false" autocomplete="off" minlength="2" maxlength="2" size="2" min="19" required="">
                            <label for="cardExpirationYear">Año VTo</label>
                            <div id="cardExpirationYear-helper-block" class="help-block"></div>
                        </div>
                        <div class="col-4 form-label-group">
                            <input type="text" class="form-control" id="securityCode" data-checkout="securityCode" placeholder="Código de Seguridad" onselectstart="return false" onpaste="return false" oncopy="return false" oncut="return false" ondrag="return false" ondrop="return false" autocomplete="off" minlength="3" required="">
                            <label for="securityCode">CCV</label>
                            <div id="securityCode-helper-block" class="help-block"></div>
                        </div>
                    </div>
                    <div class="form-row my-1 d-none">
                        <div class="col form-label-group">
                            <select id="installment" class="form-control" data-checkout="installment" name="installments">
                                <option selected="" disabled="">Selecciona la cantidad de cuotas...</option>
                                Elige tus cuotas
                            </select>
                            <small id="installmentHelpBlock" class="form-text text-muted"></small>
                        </div>

                    </div>
                </b-col>
                <b-col cols="12" md="6" class="p-0 d-flex align-items-baseline justify-content-center">
                    <div class='card-wrapper'></div>
                </b-col>
            </b-row>
            <b-row class="my-4 align-items-center">
                <b-col class="col-sm-12 col-md-6 text-center py-2 text-md-left">
                    <router-link class="stretched-link text-primary text-small text-decoration-none rounded-pill border px-4 py-2" to="/shipping">Volver a Envío</router-link>
                </b-col>
                <b-col class="col-sm-12 col-md-6 text-right">
                    <b-button v-show="!isRebillActive" type="submit" class="btn btn-secondary px-4 py-2 rounded-pill shadow" :disabled="!canPay" >
                        <b-spinner small v-show="submitForm"></b-spinner>
                        <p class="m-0" v-show="!submitForm">
                            {{ submitText }}
                        </p>
                    </b-button>
                    <b-button @click="initRebill()" v-show="isRebillActive" id="btnRebill" class="btn btn-secondary px-4 py-2 rounded-pill shadow" >
                        <p class="m-0">Pagar</p>
                    </b-button>
                </b-col>
            </b-row>
        </b-form>
        <div>
        <b-modal 
            hide-footer=true 
            hide-header-close=true  
            no-close-on-backdrop=true 
            no-close-on-esc=true  
            id="modal-payment" 
            centered 
            title="Terminando de crear su pedido" 
            v-model="modalShow">
            <b-row v-show="!errorPayment">
                <b-col cols="1">
                    <p class="p-0 text-center" v-show="loadingCreatePayment">
                        <b-spinner label="Loading..."></b-spinner>
                    </p>
                    <p class="p-0" v-show="!loadingCreatePayment">
                        <img src="@/assets/images/check.svg" alt="Siempre en casa" width="30px">
                    </p>
                </b-col>
                <b-col cols="11">
                    <p class="p-0" >
                        {{ statusPayment }}
                    </p>
                </b-col>
            </b-row>
            <b-row v-show="errorPayment">
                <b-col cols="10 offset-1 alert alert-danger">
                    <p class="p-0 text-center" >
                        {{ statusPayment }}
                    </p>
                </b-col>
                <b-col cols="10 offset-1 text-right">
                    <button class="btn btn-secondary px-4 py-2 rounded-pill shadow" @click="closeModal()">Cerrar</button>
                </b-col>
            </b-row>
            <b-row v-show="!loadingCreatePayment">
                <b-col cols="1">
                    <p class="p-0 text-center" v-show="loadingCreateOrderInShopify">
                        <b-spinner label="Loading..."></b-spinner>
                    </p>
                    <p class="p-0" v-show="!loadingCreateOrderInShopify">
                        <img src="@/assets/images/check.svg" alt="Siempre en casa" width="30px">
                    </p>
                </b-col>
                <b-col cols="11">
                    <p class="p-0" v-show="statusPayment != null">
                        {{ statusCreateOrderInShopify }}
                    </p>
                </b-col>
            </b-row>
        </b-modal>
        </div>
    </div>
</template>




<script>

import { card } from 'card';
import { mapState } from 'vuex';
import { mapFields } from 'vuex-map-fields';
import { errorsList , ApiURL, getDataLayerProductsData, getSubTotal, getSavings } from '../helper';


export default {

    name: 'Payment',

    data: function (){
        return {
            canPay: false,
            isRebillActive: false,
            rebillPlans: { 
                2 : {
                        'frecuency' : 1,
                        'frecuency_type' : 'months',
                        'title': 'Plan de 30 días'
                    },
                3 : {
                        'frecuency' : 15,
                        'frecuency_type' : 'days',
                        'title': 'Plan de 15 días'
                    },
                4 : {
                        'frecuency' : 2,
                        'frecuency_type' : 'months',
                        'title': 'Plan de 60 días'
                    },
            },
            rebillSucriptionId : null,
            submitText: 'Pagar',
            submitForm: false,
            modalShow: false,
            loadingCreatePayment: true,
            statusPayment: 'Estamos procesando su pago...',
            errorPayment: false,
            loadingCreateOrderInShopify: true,
            statusCreateOrderInShopify: 'Terminando de crear su pedido...',
            payment_type_id: '',
            plans: {
                3 : 'Cada 15 Días',
                2 : 'Cada 30 Días',
                4 : 'Cada 60 Días'
            }
        }
    },
    computed: {
         ...mapState([
            'customer',
            'order',
            'shipping',
            'line_items',
            'mercado_pago',
            'discount',
            'creditCardPlugin',
            'suscription',
            'isRebillLoaded'
        ]),
        ...mapFields([
            'customer',
            'order',
            'order.total_price',
            'payment',
            'creditCardPlugin',
            'suscription',
            'isRebillLoaded'    
        ]),
        subTotalLineItems: function(){
            let subtotal = 0;
            this.line_items.map( item => { subtotal = parseFloat(subtotal) + ( parseFloat( item.price ) * item.quantity ) })
            return subtotal;
        },
    },
    created: function(){

        if( this.isRebillActive == false ){
            if ( this.mercado_pago.public_key == null ){

                    fetch( ApiURL + 'payment/public-key' , {
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
                        }
                    })
                    .then( response => response.json() )
                    .then( response => {
                        Mercadopago.setPublishableKey( response )
                        this.$store.commit( 'SET_MP_PUBLIC_KEY' , response )
                    });
            
            }else{
                
                Mercadopago.setPublishableKey( this.mercado_pago.public_key )
                
            }
        }else{
            if( localStorage.getItem('rebill') === null ){
                localStorage.setItem('rebill' , true )
            }
        }
    },
    mounted: function(){

        if( this.isRebillActive == false ){
            
            if( this.creditCardPlugin === null ){
                this.initCreditCardPlugin();
                window.addEventListener('load', () => {
                    this.initCreditCardPlugin();
                })
            }else{
                this.initCreditCardPlugin();
            }
        
            this.creditCardPlugin = true;

        }else{
            
            //this.initRebill();

        }

        

        if( this.suscription.id == null ){
            this.suscription.id = 2;
        }
    
        
        ga('send', 'pageview', location.pathname);

    },
    methods:{
        initRebill: function(){
                
            const rebill = new Rebill ({
                apiUrl: 'https://api.rebill.to/v1/',
                orgId: '782c266e-c758-4af1-bb4c-af3d513a35a1',
                successText: `<h2 style="font-size:18px;font-weight:bold">Se realizó el pago con éxito. Por favor no abandones esta página, estamos creando tu suscripción...</h2>`
                //callbackUrl : 'https://domain.com/your-thank-you-page',
            });

            rebill.setCustomer({
                firstName: this.customer.first_name,
                lastName: this.customer.last_name,
                email: this.customer.email,
                vat_type: "DNI",
                vatID_number: this.customer.dni
            });

            rebill.setItems( this.line_items );
            
            let amount = ( this.subTotalLineItems + this.shipping.price - this.discount.show_value ) / 100;
            //console.log( amount )
            
            rebill.setTransaction({
                amount : amount,
                title: this.rebillPlans[this.suscription.id].title,
                currency: 'ARS',
                frequency: this.rebillPlans[this.suscription.id].frecuency,
                frequency_type: this.rebillPlans[this.suscription.id].frecuency_type,
                repetitions: null,
                description: this.rebillPlans[this.suscription.id].title
            });

            rebill.onSubscriptionFailed( async error => {
                await this.googleAnalytics('Payment to Confirm', null, false, false);
                console.log(`El siguiente error ocurrió creando la suscripción`, error);
            });

            rebill.onSubscriptionCreated( async response => {
                const cardType = response.payment.payment_method_id
                var data ={}
                data.subscription = JSON.parse(window.localStorage.getItem('suscription')).title
                data.order = this.order.id
                this.rebillSucriptionId = response.subscription.id;
                this.createOrderInShopify( response.payment.status )
                await this.googleAnalytics('Payment to Confirm', cardType, true, data);
                await this.googleAnalytics('Order Confirmation', cardType, true, data);
                //rebill.closePopup();
                //this.modalShow = true;
                //console.log(`Suscripcion con ID '${ response.subscription.id }' creada correctamente.`);
            });

            rebill.openPopup();
           
        },
        initCreditCardPlugin: function(){
            
            const $cardForm          = document.getElementById('cardForm');
            const $cardNumber        = document.getElementById('cardNumber');
            const [...inputs_card]    = document.getElementsByTagName('input');

            inputs_card.forEach( input => {
                input.addEventListener( 'keyup' , ( e )=>{
                    e.target.setCustomValidity("");
                    if (e.target.checkValidity()){
                        e.target.parentNode.children[2].innerText = '';
                    }else{
                        e.target.setCustomValidity("Invalid field");
                    }
                    
                })
            })

            $cardNumber.addEventListener( 'change' ,  ( e ) => {
                let bin = e.target.value;
                if (bin.length >= 6) {
                    bin = bin.split(" ").join("");
                    Mercadopago.getPaymentMethod({
                        "bin": bin
                    }, this.setPaymentMethodInfo );
                    
                    
                    Mercadopago.getInstallments({
                        "bin": bin,
                        "amount":  this.order.total_price / 100,
                    }, this.setInstallmentInfo );
                    
                }
            });

            new Card({
                form: document.querySelector('#cardForm'),
                container: '.card-wrapper',
                width: 250,
                placeholders: {
                    number: '•••• •••• •••• ••••',
                    name: 'Nombre y Apellido',
                    expiry: 'MM/AA',
                    cvc: '•••'
                },
                messages: {
                    validDate: 'valid-date', 
                    monthYear: 'MM/AA'
                },
                formSelectors: {
                    nameInput: 'input[data-checkout="cardholderName"]',
                    numberInput: 'input[data-checkout="cardNumber"]',
                    expiryInput: 'input[data-checkout="cardExpirationMonth"], input[data-checkout="cardExpirationYear"]' ,
                    cvcInput: 'input[data-checkout="securityCode"]',
                }
            });


        },
        setPaymentMethodInfo: function (status, response) {

            if (status == 200) {
                if( response.length > 0 ){
                    if( response[0].id != null || response[0].id != undefined ){
                        this.createInput( 'payment_method_id' , response[0].id )
                    }
                }
            } else {
                console.log(`payment method info error: ${response}`);  
            }

        },
        setInstallmentInfo: function ( status , installments ){
            
            if ( status == 200 ) {
                
                const $installment             = document.getElementById('installment');
                const $installmentHelpBlock    = document.getElementById('installmentHelpBlock');
                
                let installments_gateway       = installments.filter( installment => installment.processing_mode == 'gateway');
                let installments_aggregator    = installments.filter( installment => installment.processing_mode == 'aggregator');
                let installments_to_show       = [];
                let all_installment            = [];
                
                installments.forEach( installment => {
                    if ( installment.merchant_account_id != 'visa2e3fa7805504cd9e57c8c61cdf43' ){
                        let [...payer] = installment.payer_costs
                            payer.forEach( cost => {
                                cost.show_installments = cost.installments;
                                if ( installment.processing_mode == 'gateway' ){
                                    switch ( cost.installments ) {
                                        case 7:
                                            cost.show_installments = 12;
                                            break;
                                        case 8:
                                            cost.show_installments = 18;
                                            break;
                                        case 13:
                                            cost.show_installments = 3;
                                            break;
                                        case 16:
                                            cost.show_installments = 6;
                                            break;
                                    }
                                }
                                cost.issuer_id           = installment.issuer.id;
                                cost.payment_type_id     = installment.payment_type_id;
                                cost.processing_mode     = installment.processing_mode;
                                cost.merchant_account_id = installment.merchant_account_id;
                                
                                all_installment.push( cost )
                        })
                    }
                })

                all_installment.forEach( (installment) => {
                    let check = installments_to_show.filter( option => option.show_installments == installment.show_installments );
                    
                    if ( check.length == 0 ){
                        installments_to_show.push( installment )
                    }else{
                        installments_to_show.forEach( (option , index) => {
                            if( option.show_installments == installment.show_installments ){
                                if ( option.installment_rate > installment.installment_rate  ){
                                    installments_to_show[index] = installment;
                                }
                            }
                        })
                    }
                })
                
                installments_to_show.sort( ( a, b)=>{
                    return ( a.show_installments > b.show_installments  ) ? 1 : -1;
                })


                let payer_cost = installments_to_show;
                $installment.innerHTML = '';
                payer_cost.forEach( ( cost , index ) => {
                    let message = cost.recommended_message;
                    let recommended_message = cost.recommended_message + ' - ' + cost.labels;
                    $installment.add(new Option( message , cost.installments));
                    $installment.options[ $installment.options.length - 1 ].setAttribute( "data-recommended_message" , recommended_message );
                    $installment.options[ $installment.options.length - 1 ].setAttribute( "data-issuer_id" , cost.issuer_id );
                    $installment.options[ $installment.options.length - 1 ].setAttribute( "data-payment_type_id" , cost.payment_type_id );
                    $installment.options[ $installment.options.length - 1 ].setAttribute( "data-processing_mode" , cost.processing_mode );
                    $installment.options[ $installment.options.length - 1 ].setAttribute( "data-merchant_account_id" , cost.merchant_account_id );
                    if ( index == 0 ){
                        $installmentHelpBlock.innerText = recommended_message;
                        this.createInput( 'issuer' , cost.issuer_id );
                        this.createInput( 'payment_type_id' , cost.payment_type_id );
                        this.createInput( 'processing_mode' , cost.processing_mode );
                        this.createInput( 'merchant_account_id' , cost.merchant_account_id );
                    }
                });
                
                if( document.querySelector('input[name="payment_type_id"]') != null ){
                    if( document.querySelector('input[name="payment_type_id"]').value != 'debit_card'){
                        this.canPay = true;
                    }else{
                        this.canPay = false;
                        var card = document.getElementById('cardNumber');
                        card.setCustomValidity("Ingrese una tarjeta de crédito por favor.")
                        card.reportValidity()
                    }
                }
                
            }
        },
        createInput: function ( nameInput , valueInput ){

            const $cardForm  = document.getElementById('cardForm');
            const $element   = document.querySelector('input[name=' + nameInput + ']');
            
            if ($element) {
                
                $element.value = valueInput;
            
            } else {
                
                let inputEl = document.createElement('input');
                inputEl.setAttribute('name', `${nameInput}`);
                inputEl.setAttribute('type', 'hidden');
                inputEl.setAttribute('value', valueInput );     
                $cardForm.appendChild(inputEl);

            }

        },
        createToken: function(){
            
            this.submitForm = true;

            const $cardForm = document.getElementById('cardForm');

            if( document.querySelector('input[name="token"]') ) Mercadopago.clearSession();
            
            Mercadopago.createToken( $cardForm , this.sdkResponseHandler );

        },
        sdkResponseHandler: function (status, response) {

            const $cardForm = document.getElementById('cardForm');

            if (status != 200 && status != 201) {
                
                this.showErrors( response );
                $cardForm.classList.add('was-validated');
                this.submitText = 'Pagar';
                this.submitForm = false;
            
            }else{
            
                this.createInput( 'token' , response.id );
                $cardForm.classList.add('was-validated');
                this.submitText = 'Procesando Pago';
                this.errorPayment = false;
                this.modalShow = true;
                this.statusPayment = 'Estamos procesando su pago...';
                this.loadingCreatePayment = true;
                let createPayment = this.createPaymentMp();
                //this.createOrderInShopify('approved');
                
            }

        },
        showErrors: function ( errors ){
            const [...errors_input] = errors.cause;
            errors_input.forEach( error => {  
                let helper_block  = ( errorsList[ error.code ] ) ? errorsList[ error.code ] : 'Por favor corrija los errores';
                let input_error   = document.getElementById( helper_block.element_id.replace('-helper-block' , '' ))
                input_error.setCustomValidity("Invalid field.")
                document.getElementById( helper_block.element_id ).innerText = helper_block.text;
            })
        },
        closeModal: function(){
            this.modalShow = false;
        },
        createPaymentMp: async function (){
            
            
            const formCreditCard = document.getElementById('cardForm') 
            const inputCreditCard = Array.from(new FormData(formCreditCard))
            let   dataCreditCard = {};
            
            inputCreditCard.forEach( item => {
                dataCreditCard[item[0]] = item[1]
            })

            const data = {
                order_id: this.order.id,
                credit_card_data:  dataCreditCard,
            }

            const createPayment =   await fetch( ApiURL + 'payment' , {
                                        method: 'POST',
                                        body: JSON.stringify( data ),
                                        headers: {
                                            'Content-Type': 'application/json; charset=UTF-8',
                                            'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog',
                                        }
                                    })

            const  response  =  await createPayment.json();

            this.loadingCreatePayment = false;
            
            this.statusPayment = response.status_detail
            
            if( response.status == 'approved' || response.status == 'in_process'  ){
               
                this.createOrderInShopify( response.status )

            }else{
                //this.modalShow = false;
                this.submitForm = false;
                this.submitText = 'Pagar';
                this.errorPayment = true;
                document.getElementById('cardForm').classList.remove('was-validated');
            }
            

        },
        createOrderInShopify: async function( status ){

            let financial_status = ( status == 'approved') ? 'paid' : 'pending';

            if( this.isRebillActive == false ){
                this.loadingCreateOrderInShopify = true;
            }
            

            const data = {
                order_id: this.order.id,
                suscription_id: this.suscription.id,
                buyer_accepts_marketing: ''+this.order.buyer_accepts_marketing+'',
                financial_status:  financial_status,
                rebill_id : this.rebillSucriptionId
            }

            const createPayment =   await fetch( ApiURL + 'order/create-in-shopify' , {
                                        method: 'POST',
                                        body: JSON.stringify( data ),
                                        headers: {
                                            'Content-Type': 'application/json; charset=UTF-8',
                                            'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog',
                                        }
                                    })

            const  response  =  await createPayment.json();


            if( response.id != undefined ){

                //await this.createSuscription( data );

                this.statusCreateOrderInShopify = 'Se confirmó la creación de tu suscripción y el pago de tu primera entrega se creó correctamente. En breve será redirigido...'
                this.loadingCreateOrderInShopify = false;

                localStorage.removeItem('order')
                localStorage.removeItem('shipping')
                localStorage.removeItem('discount')

                await this.googleAnalytics( response );
                //await this.faceBookPurchase( response );
                ga('send', 'pageview', '/payment' );

                if( this.isRebillActive == false ){
                    
                    setTimeout( () => {
                       window.location.href = response.order_status_url;
                    }, 5000);

                }else{

                    window.location.href = response.order_status_url;

                }
                
                return true;
            }
            
            this.statusCreateOrderInShopify = 'Ha ocurrido un error, pongase en contacto con el administrador de la tienda...'
            console.log( response )

        },
        createSuscription: async function( data ){

            const createSuscription =   await fetch( ApiURL + 'order/test' , {
                                            method: 'POST',
                                            body: JSON.stringify( data ),
                                            headers: {
                                                'Content-Type': 'application/json; charset=UTF-8',
                                                'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog',
                                            }
                                        })
            const  response  =  await createSuscription.json();
            return response;

        },
        googleAnalytics: async function(event ,cardType, success, data){
            const productsData = await getDataLayerProductsData(this.line_items);
            const revenue = getSubTotal(this.line_items) / 100
            const order_id = data ? data.order : null
            const subscription_id = data ? data.subscription : null
            let originalLinePrice = 0;
            let quantity = 0;
            this.line_items.map( item => {
                originalLinePrice = parseFloat(originalLinePrice) + ( parseFloat( item.compare_at_price ) * item.quantity )
                quantity += parseInt(item.quantity)
            })
            const metric1 = (originalLinePrice / 100) - revenue;
            let dataLayer = {}
            dataLayer.event = event === 'Payment to Confirm' ? 'checkout' : 'purchase'
            if (event === 'Payment to Confirm') {
                dataLayer.event_info = {
                    'category': 'Checkout',
                    'action': 'Payment to Confirm',
                    'label': success ? 'Success' : 'Error'
                }
                dataLayer.cart = {
                    'quantity': quantity,
                    'metric1': metric1,
                    'revenue': revenue
                }
                dataLayer.ecommerce = {
                    'checkout': {
                        'actionField': {
                            'step': 5,
                            'option': cardType
                        },
                        'products': productsData
                    }
                }
            } else {
                dataLayer.ecommerce = {
                    'currencyCode': 'ARS',
                    'purchase': {
                        'actionField': {
                            'id': order_id,
                            'affiliation': subscription_id,
                            'revenue': revenue,
                            'shipping': 0,
                            'coupon': null
                        },
                        'products': productsData
                    }
                }
            }
            window.dataLayer.push(dataLayer)
            ga('send', 'pageview', location.pathname);
            return true;
        
        },
        faceBookPurchase: async function ( purchase ){

            /*const total  = purchase.total_price;
            let contents = [];

            this.line_items.forEach( item => {
                let content = {
                    'id' : item.variant_id,
                    'quantity' : item.quantity,
                    'price': `${parseFloat(item.price / 100)}`,
                }
                contents.push( content );
            })

            const facebookData = {
                value: total,
                currency: 'ARS',
                contents: contents,
                content_type: 'product',
            }

            fbq('track', 'Purchase', facebookData )*/

            return true;
        
        }

    }

}
</script>