<template>
    <div>
        <p class="text-left text-primary">Envíos disponibles</p>
        <b-form v-on:submit.prevent="createShipping">
            <b-container v-show="loading" class="border rounded p-3 text-center">
                <b-spinner label="Loading..."></b-spinner>
            </b-container>
            <b-container v-show="noShipping" class="border rounded p-3 text-center">
                <p>Ups! No hacemos envíos al destino ingresado. Por favor controle su código postal. </p>
            </b-container>
            <b-container class="border rounded" v-show="!loading && !noShipping">
            <b-row class="my-3 pl-2" 
                v-for="(shipping_zone , index ) in shipping_zones" 
                :key="shipping_zone.id"
                :index="index"
                :class="{ 'mt-2' : index == 0 }"
            >
                <b-col cols="8" md="8" class="text-left">
                    <b-form-radio  @change="setShipping" v-model="shipping.shipping_zone_id" name="shipping_zone" :value="shipping_zone.id">{{ shipping_zone.name }}</b-form-radio>
                </b-col>
                <b-col cols="4" md="4" class="text-right text-bold">
                    {{ shipping_zone.price | currencyARS }}
                </b-col>
                <hr v-show="( shipping_zones.length - 1 - index )!= 0" class="py-0">
            </b-row>
            </b-container>

            <!--<hr class="bg-secondary px-md-5 my-4">
            <p class="text-left text-primary">Preferencia de horario de entrega</p>
            <b-row class="my-1">
                <b-col cols="12" md="12">
                    <div class="col form-label-group p-0">
                        <b-form-select id="delivery_hour" v-model="delivery_hour" :options="delivery_hours"></b-form-select>
                        <label class="select-label" for="delivery_hour">Seleccione un horario</label>
                    </div>
                </b-col>
            </b-row>
            -->
            
            <hr class="bg-secondary px-md-5 my-4">
            <p class="text-left text-primary">Comentarios</p>
            <b-form-textarea
                id="shipping-attributes"
                v-model="message"
                size="sm"
                rows="6"
                placeholder="Escribí aquí las consideraciones a tener en cuenta a la hora de entregar el pedido..."
            ></b-form-textarea>
            <b-row class="my-4 align-items-center">
                <b-col class="col-md-6 text-center py-md-2 text-md-left p-0">
                    <router-link class="stretched-link text-primary text-small text-decoration-none rounded-pill border px-1 py-2 px-md-4 py-md-2" to="/">Volver a información</router-link>
                </b-col>
                <b-col class="col-sm-12 col-md-6 text-right">
                    <b-button v-show="!noShipping" type="submit" class="btn btn-secondary px-md-4 py-md-2 rounded-pill shadow">
                        <b-spinner small v-show="submitForm"></b-spinner>
                        <p class="m-0" v-show="!submitForm">Continuar con Pago</p>
                    </b-button>
                </b-col>
            </b-row>
        </b-form>
     </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapFields } from 'vuex-map-fields';

import { ApiURL, getDataLayerProductsData, getSubTotal, getSavings } from '../helper';


export default {
    name: 'Shipping',
    data: function (){
        return {
            loading: true,
            submitForm: false,
            noShipping: false,
            delivery_hours : [
                '9hs a 13hs',
                '13hs a 18hs', 
            ]
        }
    },
    computed: {
        ...mapFields([
            'customer',
            'order',
            'line_items',
            'order.attributes.message',
            'shipping',
            'shipping_zones'
        ]),
    },
    watch: {
        'loading': function (val, oldVal) {
            if ( val === false ){
            
                setTimeout(function(){
                    
                    if(document.getElementsByName('shipping_zone')[0] != undefined ){
                        document.getElementsByName('shipping_zone')[0].checked = true;
                    }
                    
                } , 200)
                
            }   
        },
    },
    methods: {
        setShipping( value ){
            let selected_zones = this.shipping_zones.filter( shipping => shipping.id == value );
            this.$store.commit('SET_SHIPPING' , selected_zones[0] ) 
        },
        async createShipping(){
      
            this.submitForm = !this.submitForm

            const data = {
                "order_id" : this.order.id,
                "range_id": this.shipping.range_id,
                "name": this.shipping.name,
                "min_order_subtotal": this.shipping.min_order_subtotal,
                "price": this.shipping.price,
                "max_order_subtotal": this.shipping.max_order_subtotal,
                "shipping_zone_id": this.shipping.shipping_zone_id,
            }
            
            let url = ApiURL + 'shipping';
            let method = 'POST';
            
            if( this.shipping.id !== null ){
                url = url + '/' + this.shipping.id;
                method =  'PUT';
            }
            
            const shipping = await fetch( url , {
                method: method,
                body: JSON.stringify( data ),
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
                }
            })

            const response = await shipping.json()
            
            if( response.id != undefined ){
                this.$store.commit('SET_SHIPPING_ID' , response.id )
                
                localStorage.setItem('shipping' , JSON.stringify( response ) )
                
                this.updateOrder();

                this.$store.commit('SET_ORDER_STEP' , 3 )

                await this.googleAnalytics();
                ga('send', 'pageview', '/shipping' );
                
                this.$router.push({
                    path: 'payment',
                    query: {
                        ga: '2.45528740.1036387404.1572899662-992725531.1572551695'
                    }
                });
            }else{
                alert('Ha ocurrido un error, por favor recargue la página y vuelva a intentarlo.')
            }
        
        },
        updateOrder(){

            const data = {
                step: 2,
                attributes: JSON.stringify(this.order.attributes),
            }

            return fetch( ApiURL + `order/update-fields?id=${ this.order.id }` , {
                method: 'PUT',
                body: JSON.stringify( data ),
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8',
                    'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog',
                }
            })

        },
        googleAnalytics: async function(){
            const productsData = await getDataLayerProductsData(this.line_items);
            const revenue = getSubTotal(this.line_items) / 100;
            let originalLinePrice = 0;
            let quantity = 0;
            this.line_items.map( item => {
                originalLinePrice = parseFloat(originalLinePrice) + ( parseFloat( item.compare_at_price ) * item.quantity )
                quantity += parseInt(item.quantity)
            })
            const metric1 = (originalLinePrice / 100) - revenue;
            window.dataLayer.push({
                'event': 'checkout',
                'event_info': {
                    'category': 'Checkout',
                    'action': 'Shipping to Payment',
                    'label': 'Success'
                },
                'cart': {
                    'quantity': quantity,
                    'metric1': metric1,
                    'revenue': revenue
                },
                'ecommerce': {
                    'checkout': {
                        'actionField': {
                            'step': 4,
                            'option': 'Free Shipping'
                        },
                        'products': productsData
                    }
                }
            })
            ga('send', 'pageview', location.pathname);
            return true;
        }
    },
    mounted: async function () {
        
        const id = this.order.id;
        
        const url = ApiURL + `shipping/zones?order_id=${id}`
      
        const shipping = await fetch( url , {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
            }
        });

        const response = await shipping.json();

        if( response != null ){

            this.$store.commit('SET_SHIPPING_ZONES' , response )

            this.$store.commit('SET_SHIPPING' , response[0] ) 
        
        }else{
            
            console.log( 'No shipping'  )
            this.noShipping = true

        }
        
        this.loading = ! this.loading
        ga('send', 'pageview', location.pathname);
        
    }
}
</script>