<template name="staticInfo">
    <div class="m-0 p-0 overflow-hidden">
        <b-row class="text-white mt-3 pl-1">
            <b-col cols="12" md="3" class="m-3 pl-2 text-left m-md-0 my-0 px-md-0 text-md-right">
                TE GARANTIZAMOS
            </b-col>
            <b-col cols="12" md="9">
                <ul class="list-unstyled text-left pl-3 pl-md-0">
                    <li>
                        <img src="@/assets/images/check.svg" alt="Siempre en casa">
                        Entrega en max. <span class="font-weight-bold">5 días</span> hábiles.
                    </li>
                    <li>
                        <img src="@/assets/images/check.svg" alt="Siempre en casa">
                        Podrás <span class="font-weight-bold">modificar</span> tu plan todos los meses.
                    </li>
                    <li>
                        <img src="@/assets/images/check.svg" alt="Siempre en casa">
                        Podrás <span class="font-weight-bold">pausar</span> una entrega. No hay obligación de compra.
                    </li>
                    <li>
                        <img src="@/assets/images/check.svg" alt="Siempre en casa">
                        Podrás <span class="font-weight-bold">cancelar</span> en cualquier momento.
                    </li>
                </ul>
            </b-col>
        </b-row>
        <hr class="my-2 mx-2">
        <b-row class="pt-3">
            <b-col cols="12" md="6" class="d-flex justify-content-around justify-content-md-between align-content-center mb-3">
                <img src="@/assets/images/logo_secure.svg" alt="Pago Seguro - Siempre en casa">
                <img src="@/assets/images/logo_mercado_pago.svg" alt="Mercado Pago - Siempre en casa">
                <img class="w-60" src="@/assets/images/ssl-certificate.png" alt="Compra segura - Siempre en casa">
            </b-col>
            <b-col cols="12" md="8" class="d-flex justify-content-around align-items-end my-3 my-md-0 font-md-normal">
                <b-link target="_blank" class="text-white small" href="https://siempreencasa.com.ar/pages/politica-de-privacidad">Política de Privacidad</b-link>
                <b-link target="_blank" class="text-white small" href="https://siempreencasa.com.ar/pages/terminos-y-condiciones">Términos y condiciones</b-link>
                <b-link target="_blank" class="text-white small" href="https://siempreencasa.com.ar/pages/como-funciona#questionsFAQ">Preguntas Frecuentes</b-link>
            </b-col>
        </b-row>
    </div>
</template>

<script>

export default {
    name: 'StaticInfo',
    
};

</script>