<template>
  <div class="user px-md-5">
    <b-form v-on:submit.prevent="createOrder">
      <p class="text-left text-primary">Información de Contacto</p>
      <div class="col form-label-group p-0">
        <b-form-input
              id="email"
              v-model.trim="email"
              type="email"
              required
              placeholder="Ingrese su email"
              readonly
        ></b-form-input>
        <label for="email">Email</label>
      </div>
      <b-form-checkbox
        id="checkbox-1"
        v-model="buyer_accepts_marketing"
        name="checkbox-1"
        value="true"
        unchecked-value="false"
      >
        Quiero recibir noticias y ofertas exclusivas!
      </b-form-checkbox>
      <hr class="bg-secondary my-4">
      <p class="text-left text-primary">Información de Envío</p>
      <b-row class="my-1">
        <b-col cols="12" md="6">
          <div class="col form-label-group p-0">
            <b-form-input
              id="first_name"
              class="my-1"
              v-model.trim="first_name"
              type="text"
              required
              placeholder="Nombre"
            >
            </b-form-input>
            <label for="first_name">Nombre</label>
          </div>
        </b-col>
        <b-col cols="12" md="6">
          <div class="col form-label-group p-0">
          <b-form-input
            id="last_name"
            class="my-1"
            v-model.trim="last_name"
            type="text"
            required
            placeholder="Apellido"
          >
          </b-form-input>
          <label for="last_name">Apellido</label>
          </div>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col cols="12" md="6">
          <div class="col form-label-group p-0">
            <b-form-input
              id="dni"
              class="my-1"
              v-model.trim="dni"
              type="text"
              required
              placeholder="DNI"
            >
            </b-form-input>
            <label for="dni">DNI</label>
          </div>
        </b-col>
        <b-col cols="12" md="6">
          <div class="col form-label-group p-0">
            <b-form-input
              id="birthdate"
              class="my-1"
              v-model.trim="birthdate"
              type="date"
              required
              placeholder="Fecha de nacimiento"
            >
            </b-form-input>
            <label for="birthdate">Fecha de Nacimiento</label>
          </div>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col cols="12" md="12">
          <div class="col form-label-group p-0">
          <input
            id="address"
            class="my-1 form-control"
            v-model.trim="address"
            type="text"
            required
            placeholder="Calle y Altura"
            autocomplete="nope"
          >
          <label for="address">Calle y Altura</label>
            <div class="text-right d-none">
              <b-button v-b-toggle.collapse-1 variant="link">Ver Mapa</b-button>
              <b-collapse id="collapse-1" class="mt-2">
                <b-card>
                  <div id='map' style="height:300px">mapa</div>
                </b-card>
              </b-collapse>
            </div>
          </div>
        </b-col>
        <b-col cols="12" md="4">
          <div class="col form-label-group p-0">
          <b-form-input
            id="flat"
            class="my-1"
            v-model.trim="flat"
            type="text"
            placeholder="Piso"
          >
          </b-form-input>
          <label for="flat">Piso</label>
          </div>
        </b-col>
        <b-col cols="12" md="4">
          <div class="col form-label-group p-0">
          <b-form-input
            id="depto"
            class="my-1"
            v-model.trim="depto"
            type="text"
            placeholder="Depto"
          >
          </b-form-input>
          <label for="address">Depto</label>
          </div>
        </b-col>
        <b-col cols="12" md="4">
          <div class="col form-label-group p-0">
          <b-form-input
            id="city"
            class="my-1"
            v-model.trim="city"
            type="text"
            required
            placeholder="Localidad"
          >
          </b-form-input>
           <label for="address">Localidad</label>
          </div>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col>
          <b-form-checkbox
            id="goal"
            v-model="goal"
            value="Dejar en Porteria"
            class="text-left"
          >
            Dejar en porteria
          </b-form-checkbox>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col cols="12" md="6">
          <div class="col form-label-group p-0">
            <b-form-select required id="province" v-model="province" :options="provinces"></b-form-select>
            <label class="select-label" for="province">Provincia</label>
          </div>
        </b-col>
        <b-col cols="12" md="6">
          <div class="col form-label-group p-0">
          <b-form-input
            id="zip_code"
            class="my-1"
            v-model.trim="zip_code"
            type="number"
            required
            placeholder="Ej: 1414"
          >
          </b-form-input>
           <label for="zip_code">Código Postal - Solo Números</label>
          </div>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col>
          <div class="col form-label-group p-0">
          <b-form-input
            id="phone"
            v-model.trim="phone"
            type="text"
            placeholder="Ingrese su teléfono"
            required
          >
          </b-form-input>
          <label for="phone">Teléfono</label>
          </div>
        </b-col>
      </b-row>
      <b-row class="my-4 align-items-center">
        <b-col cols="6" class="col-md-6 text-center py-md-2 text-md-left p-0">
            <!-- <a href="https://siempreencasa.com.ar/cart" class="stretched-link text-primary text-small text-decoration-none rounded-pill border px-3 py-2 px-md-4 py-md-2"> -->
            <a href="/cart" class="stretched-link text-primary text-small text-decoration-none rounded-pill border px-3 py-2 px-md-4 py-md-2">
              Volver al carrito
            </a>
        </b-col>
        <b-col cols="6" class="col-md-6 text-right p-0 pr-2">
            <b-button type="submit" class="btn btn-secondary px-md-4 py-md-2 rounded-pill shadow">
              <b-spinner small v-show="submitForm"></b-spinner>
              <p class="m-0 font-weight-normal" v-show="!submitForm" >Continuar con Envíos</p>
            </b-button>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>

<script>

import { mapState } from 'vuex';
import { mapFields } from 'vuex-map-fields';
import { ApiURL, getDataLayerProductsData, getSubTotal, getSavings } from '../helper';



export default {
  name: 'User',
  data: function () {
    return {
      submitForm: false,
      latitud: '',
      provinces : {
        'B':'Prov. Buenos Aires',
        /*'K':'Catamarca',
        'H':'Chaco',
        'U':'Chubut',*/
        'C':'CABA',
       /* 'X':'Córdoba',
        'W':'Corrientes',
        'E':'Entre Ríos',
        'P':'Formosa',
        'Y':'Jujuy',
        'L':'La Pampa',
        'F':'La Rioja',
        'M':'Mendoza',
        'N':'Misiones',
        'Q':'Neuquén',
        'R':'Río Negro',
        'A':'Salta',
        'J':'San Juan',
        'D':'San Luis',
        'Z':'Santa Cruz',
        'S':'Santa Fe',
        'G':'Santiago Del Estero',
        'V':'Tierra Del Fuego',
        'T':'Tucumán'*/
      }
    }
  },
  computed: {
    ...mapState([
      'customer',
      'order',
      'line_items',
      'discount'
    ]),
    ...mapFields([
      'customer.email',
      'customer.first_name',
      'customer.last_name',
      'customer.dni',
      'customer.birthdate',
      'customer.address',
      'customer.city',
      'customer.province',
      'customer.zip_code',
      'customer.phone',
      'order.attributes.goal',
      'order.attributes.depto',
      'order.attributes.flat',
      'order.attributes.lat',
      'order.attributes.lng',
      'order.buyer_accepts_marketing',
    ]),
  },
  watch: {
      'customer.email': function (val, oldVal) {
        if( oldVal == ''){
          this.getCustomer();
        }
      }
  },
  mounted: async function(){
      //ga('send', 'pageview', location.pathname);
      //this.setGoogleMaps();
      //var address = document.getElementById('address');
      //address.addEventListener('keydown' , ( evt ) => { evt.target.setAttribute( 'autocomplete' , 'nope' ) })
  },
  methods: {
    /*setGoogleMaps: function(){
      
      var address = document.getElementById('address');
      address.addEventListener('keydown' , ( evt ) => { evt.target.setAttribute( 'autocomplete' , 'nope' ) })
      var options = {  
        componentRestrictions: {country: 'ar'}
      };
      
      var autocomplete = new google.maps.places.Autocomplete(address, options);

      google.maps.event.addListener( autocomplete, 'place_changed', ()=> {
          
          var place = autocomplete.getPlace();

          var address_components = [...place.address_components];
          
          var address = address_components.filter( item => item.types[0] == 'street_number' || item.types[0] == 'route' );
          this.setAddress( address );

          var city = address_components.filter( item => item.types[0] == 'locality' || item.types[0] == 'sublocality_level_1' );
          this.setCity( city );

          var postal_code = address_components.filter( item => item.types[0] == 'postal_code' );
          this.setPostalCode( postal_code )
          
          this.setLatAndLng( place.geometry.location.lat() , place.geometry.location.lng() )
          
          this.setURLGoogleMap( place.url )

          var map = new google.maps.Map(document.getElementById('map'), {
              center: {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
              },
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });
          var marker = new google.maps.Marker({
              position: {
                lat: place.geometry.location.lat(),
                lng: place.geometry.location.lng()
              },
              map: map,
              animation: google.maps.Animation.DROP,
              draggable: true
          });
          

          google.maps.event.addListener(marker, 'dragend', (evt) => {
              this.setLatAndLng( evt.latLng.lat() , evt.latLng.lng() )
          });

          map.setCenter(marker.position);
          marker.setMap(map);

      });
    
      var map = new google.maps.Map(document.getElementById('map'), {
          center: {
              lat: ( localStorage.getItem( 'lat' ) !== null ) ? parseFloat(localStorage.getItem( 'lat' )) : -34.6037389,
              lng: ( localStorage.getItem( 'lat' ) !== null ) ? parseFloat(localStorage.getItem( 'lng' )) : -58.3815704
          },
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var marker = new google.maps.Marker({
          position: {
              lat: ( localStorage.getItem( 'lat' ) !== null ) ? parseFloat(localStorage.getItem( 'lat' )) : -34.6037389,
              lng: ( localStorage.getItem( 'lat' ) !== null ) ? parseFloat(localStorage.getItem( 'lng' )) : -58.3815704
          },
          map: map,
          animation: google.maps.Animation.DROP,
          draggable: true
      });

    },*/
    setAddress: function( data ){
        this.customer.address = data[1].short_name + ' ' + data[0].short_name ;
    },
    setCity: function( data ){
        if( data.length > 0 ){
          this.customer.city = data[0].short_name;
        }else{
          this.customer.city = '';
        }
    },
    setPostalCode: function( data ){
        if( data.length > 0 ){
          this.customer.zip_code = data[0].short_name.replace(/\D/g,'')
        }else{
          this.customer.zip_code = ''
        }
    },
    setLatAndLng: function( lat , lng ){
        this.order.attributes.lat = lat;
        this.order.attributes.lng = lng;
    },
    setURLGoogleMap: function( url ){
       this.order.attributes.urlGoogleMap = url;
    },
    createOrder: async function(){
      
      this.submitForm = !this.submitForm;

      const data = {
        token: this.order.token,
        total_price: this.order.total_price,
        attributes: JSON.stringify(this.order.attributes),
        line_items: this.line_items,
        customer: this.customer
      }

      let url = ApiURL + 'order';
      let method = 'POST';
      if( this.order.id !== null ){
        url = url + '/' + this.order.id;
        method =  'PUT';
      }
      
      const order = await fetch( url , {
          method: method,
          body: JSON.stringify( data ),
          headers: {
            'Content-Type'  : 'application/json',
            'Authorization' : 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog',
            'Cache-Control' : 'no-cache',
	          'Connection'    : 'keep-alive'
          }
      })
      const response = await order.json()

      this.$store.commit('SET_ORDER_ID' , response.order.id )
      this.$store.commit('SET_ORDER_STEP' , response.order.step )
      this.$store.commit('SET_ORDER_TOTAL_PRICE' , response.order.total_price )
      
      localStorage.setItem( 'order' , JSON.stringify(response) )
      localStorage.setItem( 'lat' , this.order.attributes.lat )
      localStorage.setItem( 'lng' , this.order.attributes.lng )
      localStorage.removeItem('cart')

      if( this.discount.title !== null ){
          this.createDiscount();
      }

      await this.googleAnalytics(3);
      ga('send', 'pageview', '/user' );
      ga('set', 'page', this.$router.currentRoute.path);
      
      this.$router.push({
        path: 'shipping',
        /*query: {
          ga: '2.45528740.1036387404.1572899662-992725531.1572551695'
        }*/
      });
      
    },
    createDiscount: async function(){

      const data = {
          order_id: this.order.id,
          price_rule_id : this.discount.price_rule_id,
          discount_code_id : this.discount.discount_code_id,
          type : this.discount.type,
          value : `${this.discount.value}`,
          title : this.discount.title,
          target : this.discount.target
      }
      
      const discount = await fetch( ApiURL + 'discount' , {
                          method: 'POST',
                          body: JSON.stringify( data ),
                          headers: {
                              'Content-Type': 'application/json',
                              'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
                          }
                      })
      
      const response = await discount.json()

      this.$store.commit( 'SET_DISCOUNT_ID' , response.id )

      response.show_value = 0;
      
      localStorage.setItem( 'discount' , JSON.stringify( response ) )

      return true;

    },
    getCustomer: async function () {
        
      const email = this.customer.email;
      
      const url = ApiURL + `customer/email`
    
      const customer = await fetch( url , {
          method: 'POST',
          body: JSON.stringify( { email : email } ),
          headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer jByYUpM6ZNXgfsvOBVD3s_BxDePmfaog'
          }
      });

      const response = await customer.json();

      if( response !== undefined ){
        this.$store.commit('SET_CUSTOMER' , response )
      }

    },
    googleAnalytics: async function(step){
        const productsData = await getDataLayerProductsData(this.line_items)
        const revenue = getSubTotal(this.line_items) / 100;
        let originalLinePrice = 0;
        let quantity = 0;
        this.line_items.map( item => { 
            originalLinePrice = parseFloat(originalLinePrice) + ( parseFloat( item.compare_at_price ) * item.quantity )
            quantity += parseInt(item.quantity)
        })
        const metric1 = (originalLinePrice / 100) - revenue;
        window.dataLayer.push({
            'event': 'checkout',
            'event_info': {
                'category': 'Checkout',
                'action': step === 2 ? 'Cart to Information' : 'Information to Shipping',
                'label': step == 2 ? 'Success' : this.birthdate
            },
            'cart': {
                'quantity': quantity,
                'metric1': metric1,
                'revenue': revenue
            },
            'ecommerce': {
                'checkout': {
                    'actionField': {
                        'step': step,
                        'option': step === 2 ? 'logged in' : 'Success'
                    },
                    'products': productsData
                }
            }
        })
        ga('send', 'pageview', location.pathname);
    }
      
  }
  
}

</script>
