<template>
  <div id="app">
      <b-container fluid="true" class="shadow-sm px-md-5 header p-0">
        <b-row class="p-2 m-2 border-bottom-1">
            <b-col cols="4" md="2" class="pl-0 text-left">
              <img class="logo" src="./assets/images/logo.svg" alt="Siempre en Casa">
            </b-col>
            <b-col cols="8" md="10" class="d-flex justify-content-center align-items-center">
              <ItemHeader class="mr-md-5" step="1" text="Información" icon="icon_user.svg" pathName="user"></ItemHeader>
              <ItemHeader class="mr-md-5" step="2" text="Envío" icon="icon_shipping.svg" pathName="shipping" ></ItemHeader>
              <ItemHeader step="3" text="Pago" icon="icon_payment.svg" pathName="payment" ></ItemHeader>
            </b-col>  
          </b-row>
    </b-container>
    <button id="btnOpenDetail"  @click="openDetail()" class="w-100 text-white d-block d-md-none text-center bg-primary  py-2">
          Ver Descuento <span id="chevron" class="ml-2 chevron bottom"></span>
    </button>
    <b-container fluid="true" class="h-md-100" >
      <router-view/>
    </b-container>
    <StaticInfo class="bg-primary d-block d-md-none"></StaticInfo>
  </div>
</template>

<script>

  import ItemHeader from '@/components/ItemHeader';
  import StaticInfo from '@/components/StaticInfo';
  
  export default {
    components: {
      ItemHeader,
      StaticInfo
    },
    methods: {
      openDetail : function(){
        document.getElementById('orderDetailContainer').classList.toggle('d-none')
        const chevron = document.getElementById('chevron');
        if (chevron.classList.value.includes('bottom')){
          chevron.classList.remove('bottom')
          chevron.classList.add('top')
        }else{
          chevron.classList.add('bottom')
          chevron.classList.remove('top')
        }
      }
    }
  };

</script>

<style lang="scss">

#app{
  height: 100vh;

  .logo{
    @media (max-width: 425px) {
        max-width: 80px;
    }
  }

}

</style>
